.about {
  padding-top: 80px;

  .descr-m-w {
    margin-top: 10px;
  }

  a {
    margin-top: 14px;

    &:hover {
      color: #60B358;

      &:after {
        background: #60B358;
      }
    }
  }

  .info-group {
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
    &-item {
      width: 31.6%;
      border: 1px solid #D0D0DB;
      padding: 40px;
      min-height: 396px;
      background-color: $grey;


      .title-s {
        margin-top: 30px;
      }

      .descr-s {
        margin-top: 10px;
      }

      &:hover {
        background-color: #F6F8FB;
        position: relative;
        top: -20px;
        margin-bottom: -20px;
      }
    }
  }
}



@media (max-width: 770px) {
  .about {
    .info-group {
      flex-direction: column;

      &-item {
        width: 100%;
        padding: 20px 40px;
        min-height: unset;

        &:last-child {
          padding-bottom: 40px;
        }

      }
    }
  }
}


@media (max-width: 700px) {

}
