.contact {
  padding-bottom: 204px;
  .container {
    display: flex;
    justify-content: space-between;
  }

  &-person {
    width: 57.26%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;

    &-item {
      width: calc(50% - 15px);
      display: flex;
      flex-direction: column;
      &-img {
        height: 70px;
        width: 70px;
        background-color: #E8E8EF;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title-s {
        margin-top: 30px;
        line-height: 28px;
      }

      .descr-sm {
        margin-top: 6px;
        line-height: 22px;
      }

      &-num,&-mail {
        color: #60B358;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.4px;
        line-height: 22px;
        display: inline-flex;
        align-items: center;
        transition: all 0.4s;

        svg {
          margin-right: 10px;
        }

        &:hover {
          color: #264692;

          svg {
            #Other-hovers {
              fill:#264692;
            }
          }
        }
      }

      &-num {
        margin-top: 20px;
      }

      &-mail {
        margin-top: 8px;
      }

      .not-indicated {
        color: #939AA6;
        pointer-events: none;
        svg {
          #Other-hovers {
            fill: #939AA6;
          }
        }
      }
    }
  }

  &-data {
    width: 35.9%;

    &-wrap {
      width: 100%;
      padding: 50px;

      background-color: #1F3771;


      &-title {
        color: #FFFFFF;
        font-size: 30px;
        letter-spacing: 0;
        line-height: 40px;
      }

      &-item {
        margin-top: 20px;
        &-title {
          opacity: 0.5;
          color: #FFFFFF;
          font-size: 14px;
          letter-spacing: -0.4px;
          line-height: 22px;
        }

        &-info {
          margin-top: 4px;
          color: #FFFFFF;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: -0.4px;
          line-height: 26px;
        }
      }

      &:first-child {
        background-color: #60B358;
      }

    }
  }
}



@media (max-width: 968px) {
  .contact {
    padding-bottom: 124px;

    .container {
      display: flex;
      flex-direction: column;
    }

    &-person {
      width: 100%;
    }

    &-data {
      margin-top: 50px;
      width: 100%;
    }
  }
}


@media (max-width: 968px) {
  .contact {
    &-person {
      flex-direction: column;

      &-item {
        width: 100%;
      }
    }

  }
}
