.footer {
  padding: 50px 0 80px 0;
  &-logo {
    display: flex;
    justify-content: center;
  }

  &-top {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;


    &-item {
      width: 14.5%;
      .dropdown-menu {
        display: block;
        background-color: transparent;
        padding: 0;
        border: none;
        position: static;
      }

      .dropdown-toggle:after {
        content: url("../assets/img/icons/ic-expand.svg");
        border: none;
        display: none;
      }

      .dropdown-toggle.show {

        &:after {
          content: url("../assets/img/icons/ic-expand-two.svg");
        }
      }

      &-title {
        color: #FFFFFF;
        font-size: 21px;
        font-weight: 600;
        letter-spacing: -0.4px;
        line-height: 25px;
        pointer-events: none;
      }

      &-subtitle {
        color: #FFFFFF;
        font-size: 17px;
        letter-spacing: -0.2px;
        line-height: 20px;
        margin-top: 30px;
      }

      ul {
        margin-top: 30px;
        li {
          margin-top: 18px;
          max-height: 20px;
          a {
            opacity: 0.8;
            color: #FFFFFF;
            font-size: 17px;
            letter-spacing: -0.2px;
            line-height: 20px;
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }

      &-wrap {
          display: flex;
          flex-direction: column;
          margin-top: 20px;

        p {
          opacity: 0.4;
          color: #FFFFFF;
          font-size: 14px;
          letter-spacing: -0.2px;
          line-height: 18px;
        }

        a {
          color: #FFFFFF;
          font-size: 17px;
          font-weight: 500;
          letter-spacing: -0.2px;
          line-height: 20px;
          display: inline-block;
          margin-top: 6px;
        }
      }
    }

    .contact {
      width: 31.6%;
      padding-bottom: 0;

      text-align: right;
    }
  }

  &-bottom {
    border-top: 1px solid rgba(216, 216, 216, 0.1);
    padding-top: 44px;

    ul {
      display: flex;
      align-items: center;
      li {
        margin-right: 15px;
        a {
          opacity: 0.7;
          color: #FFFFFF;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.16px;
          line-height: 18px;
        }
      }
    }

    &-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;

      p, a {
        opacity: 0.7;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.16px;
        line-height: 18px;

        &:last-child {
          opacity: 1;
        }
      }
    }
  }
}




@media (max-width: 983px) {
  .footer {
    &-top {
      justify-content: flex-start;
      &-item {
        width: calc(33.33333% - 8px);
        text-align: center;

        .dropdown-menu {
          text-align: center;
        }
      }

      .contact {
        width: unset;
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer {
    &-bottom {
      ul {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 16px;
      }

      &-data {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
      }
    }
  }
}


@media (max-width: 575px) {
  .footer {
    padding: 40px 0;
    &-top {
      padding-bottom: 40px;
      margin-top: 50px;
      &-item {
        width: calc(50% - 10px);
      }

      .contact {
        width: calc(50% - 10px);
      }
    }

    &-bottom {
      padding-top: 40px;

      &-data {
        p:last-child {
          opacity: 0.7;
        }
      }
    }
  }
}



@media (max-width: 480px) {
  .footer {
    &-top {
      justify-content: flex-start;
      &-item {
        width: 100%;
        text-align: start;

        .dropdown-menu {
          text-align: start;
          display: none;
        }

        .dropdown-menu.show {
          display: block;
          position: static !important;
          transform: unset !important;
          margin: 22px 0 0 0 !important;
          border-bottom: 1px solid rgba(227, 233, 239, 0.1);
          border-radius: unset;
          padding-bottom: 14px;
        }

        .dropdown-toggle:after {
          display: block;
        }


        &-title {
          pointer-events: unset;
          display: flex;
          justify-content: space-between;
        }
      }

      .contact {
        text-align: start;
        margin-top: 21px;
      }
    }
  }
}
