@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
html, body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

.container, .swiper-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-l {
  color: #131E33;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 90px;
}

.title-l-w {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 90px;
}

.title-m {
  color: #131E33;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 33px;
}

.title-s {
  color: #131E33;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
}

.descr-xxl, .descr-xl, .descr-l, .descr-m, .descr-s, .descr-xs {
  color: #666F80;
  letter-spacing: -0.4px;
}

.descr-m {
  font-size: 17px;
  line-height: 26px;
}

.descr-m-w {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
}

.descr-s {
  font-size: 14px;
  line-height: 22px;
}

.descr-s-w {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 22px;
}

.link {
  color: #60B358;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 20px;
  position: relative;
  display: inline-flex;
  padding-bottom: 9px;
}
.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #60B358;
}

.line-white, .line-blue, .line-darkblue, .line-grey {
  position: relative;
  padding-top: 80px;
}
.line-white:after, .line-blue:after, .line-darkblue:after, .line-grey:after {
  position: absolute;
  top: -44px;
  left: 0;
  height: 44px;
  z-index: 1;
  width: 100%;
}

.line-white {
  background-color: #FFFFFF;
}
.line-white:after {
  content: url("../assets/line/ic-creative-line-1.svg");
}

.line-grey {
  background-color: #E3E9EF;
}
.line-grey:after {
  content: url("../assets/line/ic-creative-line-2.svg");
}

.line-blue {
  background-color: #264692;
}
.line-blue:after {
  content: url("../assets/line/ic-creative-line-3.svg");
}

.line-darkblue {
  background-color: #0E1626;
}
.line-darkblue:after {
  content: url("../assets/line/ic-creative-line-4.svg");
}

header {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid black;
}

.banner {
  width: 100%;
  min-height: 727px;
  background-image: url("../assets/banner/image-hero@2x.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  padding-top: 140px;
}
.banner-title, .banner-descr {
  max-width: 642px;
}
.banner-title {
  color: #FFFFFF;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 90px;
}
.banner-descr {
  margin-top: 19px;
  color: #B8BECC;
  font-size: 17px;
  letter-spacing: -0.4px;
  line-height: 28px;
}
.banner .link-group {
  margin-top: 144px;
  display: flex;
}
.banner .link-group-item {
  width: 33.3333333%;
  padding: 40px;
  min-height: 188px;
}
.banner .link-group-item span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .link-group-item p {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 30px;
}
.banner .link-group .bg-lightBlue {
  background-color: #264692;
}
.banner .link-group .bg-green {
  background-color: #60B358;
}
.banner .link-group .bg-darkBlue {
  background-color: #131E33;
}

.products {
  padding: 80px 0 124px 0;
}
.products .descr-m {
  margin-top: 10px;
  margin-bottom: 40px;
}

.swiper-container {
  margin-top: 50px;
  position: relative;
}
.swiper-container .swiper-wrapper .swiper-slide {
  width: 340px;
}
.swiper-container .swiper-wrapper .swiper-slide img {
  max-width: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide .title-m {
  margin-top: 40px;
}
.swiper-container .swiper-wrapper .swiper-slide .link {
  margin-top: 16px;
}
.swiper-container .swiper-wrapper .swiper-slide .link:after {
  opacity: 0.4;
}
.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
  top: 35%;
}
.swiper-container .swiper-button-next:after, .swiper-container .swiper-button-prev:after {
  font-size: 22px;
  color: #D2A256;
  top: 35%;
}
.swiper-container .swiper-button-next.swiper-button-disabled, .swiper-container .swiper-button-prev.swiper-button-disabled {
  display: none;
}

[class*=swiper-button] {
  height: 70px;
  width: 70px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(61, 75, 102, 0.2);
  border-radius: 50%;
}

.about {
  padding-top: 80px;
}
.about .descr-m-w {
  margin-top: 10px;
}
.about a {
  display: inline-block;
  margin-top: 14px;
}
.about .info-group {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
}
.about .info-group-item {
  width: 31.6%;
  border: 1px solid #D0D0DB;
  padding: 40px;
  min-height: 396px;
  background-color: #E3E9EF;
}
.about .info-group-item .title-s {
  margin-top: 30px;
}
.about .info-group-item .descr-s {
  margin-top: 10px;
}

.map .title-l {
  margin-bottom: 40px;
}
.map-wrap {
  margin-bottom: 124px;
  height: 628px;
  width: 1170px;
  background-color: #666F80;
}

.support {
  padding-top: 100px;
  padding-bottom: 164px;
}
.support .link {
  margin-top: 10px;
}
.support .link:after {
  opacity: 0.4;
}
.support .support-group {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.support .support-group-item {
  width: 23%;
  max-height: 170px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.support .support-group-item img {
  max-width: 100%;
}

.footer {
  padding: 50px 0 80px 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-top {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.footer-top-item-title {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.4px;
  line-height: 25px;
}
.footer-top-item-subtitle {
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 20px;
  margin-top: 30px;
  text-align: right;
}
.footer-top-item ul {
  margin-top: 30px;
}
.footer-top-item ul li {
  margin-top: 18px;
  max-height: 20px;
}
.footer-top-item ul li a {
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.footer-top-item ul li:first-child {
  margin-top: 0;
}
.footer-top-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}
.footer-top-item-wrap p {
  opacity: 0.4;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 18px;
  text-align: right;
}
.footer-top-item-wrap a {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 20px;
  text-align: right;
  display: inline-block;
  margin-top: 6px;
}
.footer-top .contact .footer-top-item-title {
  text-align: right;
}
.footer-bottom {
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  padding-top: 44px;
}
.footer-bottom ul {
  display: flex;
  align-items: center;
}
.footer-bottom ul li {
  margin-right: 15px;
}
.footer-bottom ul li a {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 18px;
}
.footer-bottom-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.footer-bottom-data p, .footer-bottom-data a {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 18px;
}
.footer-bottom-data p:last-child, .footer-bottom-data a:last-child {
  opacity: 1;
}

.cookie {
  background-color: #264692;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 450px;
  width: 100%;
  z-index: 11;
  display: none;
}
.cookie-content {
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: #60B358;
  position: relative;
}
.cookie-content:after {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  height: 44px;
  z-index: 1;
  width: 100%;
  transform: rotate(-90deg);
}

.page-title {
  background-color: #264692;
  padding: 60px 0 84px 0;
}
.page-title-date {
  color: #60B358;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
  margin-bottom: 20px;
}
.page-title-title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.7px;
  line-height: 46px;
  max-width: 970px;
}
.page-title-descr {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
  margin-top: 14px;
}

.cards {
  padding-bottom: 160px;
}
.cards .tabs {
  display: flex;
  margin-bottom: 50px;
}
.cards .tabs-item {
  color: #264692;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
  padding: 9px 16px;
  border: 1px solid #264692;
  background-color: transparent;
  margin-right: 10px;
}
.cards .tabs .active {
  color: #FFFFFF;
  background-color: #60B358;
  border-color: #60B358;
}
.cards-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}
.cards-content-item {
  width: calc(25% - 23px);
}
.cards-content-item .title-s {
  margin-top: 29px;
}
.cards-content-item-descr {
  color: #666F80;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 20px;
  margin-top: 10px;
}
.cards-content-item .link {
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  align-items: center;
  margin-top: 20px;
}
.cards-content-item .link:after {
  content: none;
}
.cards-content-item .link span {
  height: 14px;
  width: 14px;
  opacity: 0.3;
  background-color: #60B358;
  border-radius: 50%;
  margin-left: 6px;
}

.cards-l .cards-content-item {
  width: calc(33.3333% - 20px);
}
.cards-l .cards-content-item .title-s {
  margin-top: 20px;
}
.cards-l .cards-content-item .link {
  padding-bottom: 9px;
}
.cards-l .cards-content-item .link:after {
  content: "";
  opacity: 0.4;
}

.details {
  padding-bottom: 204px;
}
.details img {
  width: 100%;
}
.details-wrap {
  margin-top: 40px;
}
.details-wrap .descr {
  color: #131E33;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 28px;
  margin-top: 14px;
}
.details-wrap .descr a {
  color: #60B358;
  text-decoration: underline;
}
.details-wrap .subtitle {
  color: #131E33;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-decoration: underline;
  text-transform: uppercase;
}
.details-wrap ul {
  margin-left: 17px;
}
.details-wrap ul li ol {
  list-style: none;
  counter-reset: item;
}
.details-wrap ul li ol li {
  counter-increment: item;
  margin-bottom: 5px;
}
.details-wrap ul li ol li:before {
  margin-right: 10px;
  content: counter(item);
  border-radius: 50%;
  color: #264692;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 28px;
}

/*# sourceMappingURL=main.css.map */
