@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
html, body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

.container, .swiper-container, .container-s {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-s {
  max-width: 1000px;
}

.title-l {
  color: #131E33;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 90px;
}

.title-l-w {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 90px;
}

.title-m {
  color: #131E33;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 33px;
}

.title-s {
  color: #131E33;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
}

.descr-xxl, .descr-xl, .descr-l, .descr-m, .descr-s, .descr-xs {
  color: #666F80;
  letter-spacing: -0.4px;
}

.descr-m {
  font-size: 17px;
  line-height: 26px;
}

.descr-sm {
  color: #131E33;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 28px;
  margin-top: 14px;
}
.descr-sm a {
  color: #60B358;
  text-decoration: underline;
}
.descr-sm a:hover {
  color: #264692;
}
.descr-sm span {
  font-weight: 600;
}

.descr-m-w {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
}

.descr-s {
  font-size: 14px;
  line-height: 22px;
}

.descr-s-w {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.descr-s-w a {
  color: #60B358;
  text-decoration: underline;
}

.link {
  color: #60B358;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 20px;
  position: relative;
  display: inline-flex;
  padding-bottom: 9px;
  cursor: pointer;
}
.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #60B358;
}
.link:hover {
  color: #264692;
}
.link:hover:after {
  background-color: #264692;
}

.line-white, .line-blue, .line-darkblue, .line-grey {
  position: relative;
  padding-top: 80px;
}
.line-white:after, .line-blue:after, .line-darkblue:after, .line-grey:after {
  position: absolute;
  top: -44px;
  left: 0;
  height: 44px;
  z-index: 1;
  width: 100%;
}

.line-white {
  background-color: #FFFFFF;
}
.line-white:after {
  content: "";
  background-image: url("../assets/line/ic-creative-line-1.svg");
}

.line-grey {
  background-color: #E3E9EF;
}
.line-grey:after {
  content: "";
  background-image: url("../assets/line/ic-creative-line-2.svg");
}

.line-blue {
  background-color: #264692;
}
.line-blue:after {
  content: "";
  background-image: url("../assets/line/ic-creative-line-3.svg");
}

.line-darkblue {
  background-color: #0E1626;
}
.line-darkblue:after {
  content: "";
  background-image: url("../assets/line/ic-creative-line-4.svg");
}

@media (max-width: 575px) {
  .title-l {
    font-size: 30px;
    letter-spacing: -0.63px;
    line-height: 40px;
  }
}
header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 10000;
}
header .navbar {
  padding: 25px 0;
  flex-wrap: unset;
  transition: all 0.4s;
}
header .navbar .container {
  align-items: flex-start;
}
header .navbar-toggler {
  display: none;
}
header .navbar-brand {
  width: 13%;
  margin-right: 60px;
  padding: 0;
}
header .header {
  width: 81.8%;
  display: flex;
  flex-direction: column;
}
header .header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -14px;
}
header .header-top .lang li a, header .header-top-info li a {
  color: #666F80;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 26px;
}
header .header-top .lang li a:hover, header .header-top-info li a:hover {
  color: #264692;
}
header .header-top .lang {
  display: flex;
  column-gap: 10px;
}
header .header-top .active a {
  font-weight: 500;
}
header .header-top-info {
  display: flex;
  column-gap: 20px;
}
header .header-bottom {
  width: 100%;
  margin-top: 34px;
  display: flex;
  column-gap: 60px;
}
header .header-bottom li a {
  color: #0E1626;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
}
header .header-bottom li a:hover {
  color: #264692;
}
header .header-bottom-title {
  opacity: 0.3;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  text-transform: uppercase;
  display: none;
}
header .header-bottom .active a {
  color: #60B358;
}
header .header-close {
  display: none;
}
header .menu-open {
  display: none;
}
header .scroll {
  box-shadow: 0 4px 8px 0 rgba(61, 75, 102, 0.1);
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media (min-width: 875px) {
  header .scroll {
    padding: 10px 0;
    animation-name: zoom;
    animation-duration: 0.2s;
  }
  header .scroll .container {
    align-items: center;
  }
  header .scroll .navbar-brand {
    width: 7%;
    max-width: 83px;
    margin-right: 0;
  }
  header .scroll .header {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header .scroll .header-top {
    width: unset;
    position: static;
  }
  header .scroll .header-top-info {
    display: none;
  }
  header .scroll .header-bottom {
    width: unset;
    margin-top: 0;
  }
}
@media (max-width: 875px) {
  header .navbar {
    padding: 10px 0;
  }
  header .navbar .container {
    align-items: center;
  }
  header .navbar .navbar-collapse {
    position: fixed;
    left: 0;
    top: 0;
    background-color: green;
    width: 335px;
    height: 100vh;
    z-index: 1000;
  }
  header .header {
    flex-direction: column-reverse;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 335px;
    z-index: 100000;
    background-color: #194797;
    overflow-y: auto;
    transition: ease-out 0.3s;
  }
  header .header-top {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1F3771;
    flex-grow: 1;
    top: 0;
  }
  header .header-top .lang {
    flex-direction: column;
    row-gap: 30px;
    padding: 40px;
  }
  header .header-top .lang li a {
    color: #FFFFFF;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 28px;
  }
  header .header-top .lang .active a {
    color: #60B358;
  }
  header .header-top-info {
    display: none;
  }
  header .header-bottom {
    flex-direction: column;
    row-gap: 30px;
    padding: 40px;
    background-color: #194797;
    flex-grow: 3;
    margin-top: 0;
  }
  header .header-bottom li a {
    color: #FFFFFF;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 28px;
  }
  header .header-bottom-title {
    display: block;
  }
  header .header-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    display: flex;
    background-color: #131E33;
    align-items: center;
    justify-content: center;
    border: none;
  }
  header .menu-open {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  header .menu-open svg {
    margin-right: 10px;
    color: #0E1626;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 26px;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #1F3771;
    z-index: -100;
    transition: all 0.3s;
  }
}
.banner {
  width: 100%;
  min-height: 727px;
  background-image: url("../assets/banner/image-hero@2x.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  padding-top: 140px;
}
.banner-title, .banner-descr {
  max-width: 642px;
}
.banner-title {
  color: #FFFFFF;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 90px;
}
.banner-descr {
  margin-top: 19px;
  color: #B8BECC;
  font-size: 17px;
  letter-spacing: -0.4px;
  line-height: 28px;
}
.banner .link-group {
  margin-top: 144px;
  display: flex;
}
.banner .link-group-item {
  width: 33.3333333%;
  padding: 40px;
  min-height: 188px;
}
.banner .link-group-item span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .link-group-item p {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 30px;
}
.banner .link-group-item:hover span {
  position: relative;
}
.banner .link-group-item:hover span svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}
.banner .link-group .bg-lightBlue {
  background-color: #264692;
}
.banner .link-group .bg-green {
  background-color: #60B358;
}
.banner .link-group .bg-darkBlue {
  background-color: #131E33;
}

@media (max-width: 700px) {
  .banner-title {
    font-size: 53px;
  }
  .banner .link-group {
    display: flex;
    flex-direction: column;
  }
  .banner .link-group-item {
    width: 100%;
    min-height: unset;
    padding: 20px 40px;
  }
  .banner .link-group-item:last-child {
    padding-bottom: 40px;
  }
}
.products {
  padding: 80px 0 124px 0;
  overflow: hidden;
}
.products .descr-m {
  margin-top: 10px;
  margin-bottom: 40px;
}

.swiper-wrap .swiper-container {
  margin-top: 50px;
  position: relative;
}
.swiper-wrap .swiper-container .swiper-wrapper .swiper-slide {
  width: 340px;
}
.swiper-wrap .swiper-container .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  cursor: url("../assets/img/icons/creative-cursor.svg") 50 50, auto;
}
.swiper-wrap .swiper-container .swiper-wrapper .swiper-slide .title-m {
  margin-top: 40px;
  display: block;
}
.swiper-wrap .swiper-container .swiper-wrapper .swiper-slide .title-m:hover {
  color: #131E33;
}
.swiper-wrap .swiper-container .swiper-wrapper .swiper-slide .link {
  margin-top: 16px;
}
.swiper-wrap .swiper-container .swiper-wrapper .swiper-slide .link:after {
  opacity: 0.4;
}
.swiper-wrap .swiper-container .swiper-button-next, .swiper-wrap .swiper-container .swiper-button-prev {
  top: 35%;
}
.swiper-wrap .swiper-container .swiper-button-next.swiper-button-disabled, .swiper-wrap .swiper-container .swiper-button-prev.swiper-button-disabled {
  display: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 22px;
  color: #D2A256;
  top: 35%;
}

[class*=swiper-button] {
  height: 70px;
  width: 70px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(61, 75, 102, 0.2);
  border-radius: 50%;
}

@media (max-width: 700px) {
  .swiper-container .swiper-wrapper .swiper-slide {
    width: 270px;
  }

  [class*=swiper-button] {
    height: 40px;
    width: 40px;
  }
}
.about {
  padding-top: 80px;
}
.about .descr-m-w {
  margin-top: 10px;
}
.about a {
  margin-top: 14px;
}
.about a:hover {
  color: #60B358;
}
.about a:hover:after {
  background: #60B358;
}
.about .info-group {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
}
.about .info-group-item {
  width: 31.6%;
  border: 1px solid #D0D0DB;
  padding: 40px;
  min-height: 396px;
  background-color: #E3E9EF;
}
.about .info-group-item .title-s {
  margin-top: 30px;
}
.about .info-group-item .descr-s {
  margin-top: 10px;
}
.about .info-group-item:hover {
  background-color: #F6F8FB;
  position: relative;
  top: -20px;
  margin-bottom: -20px;
}

@media (max-width: 770px) {
  .about .info-group {
    flex-direction: column;
  }
  .about .info-group-item {
    width: 100%;
    padding: 20px 40px;
    min-height: unset;
  }
  .about .info-group-item:last-child {
    padding-bottom: 40px;
  }
}
.map {
  position: relative;
}
.map .title-l {
  margin-bottom: 40px;
}
.map-wrap {
  margin-bottom: 124px;
  height: 628px;
  width: 100%;
  background-color: #D4DDE5;
}
.map-wrap #map {
  width: 100%;
  height: 100%;
}
.map-wrap #map .leaflet-bar {
  position: absolute;
  right: 0 !important;
  bottom: 0;
}
.map-wrap #map .leaflet-left {
  right: 30px !important;
}
.map-wrap #map .leaflet-top {
  bottom: 30px;
}
.map-modal-content {
  width: 100%;
  position: relative;
}
.map-modal-content img {
  width: 100%;
}
.map-modal-content-data {
  padding: 18px 24px 24px 24px;
}
.map-modal-content-data .title-s {
  line-height: 26px;
  margin-bottom: 4px;
}
.map-modal-content-data .descr-s {
  font-weight: 500;
  line-height: 20px;
}
.map-modal-content-data-worktime {
  margin-top: 14px;
}
.map-modal-content-data-worktime .time {
  margin-top: 4px;
  color: #0E1626;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 20px;
}
.map-modal-content-data-worktime .time span {
  font-weight: bold;
}

.leaflet-touch .leaflet-bar {
  border: none;
}
.leaflet-touch .leaflet-bar a {
  height: 30px;
  width: 30px;
  background-color: #131E33;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: unset !important;
  margin-bottom: 4px;
}
.leaflet-touch .leaflet-bar a span {
  display: inline-flex;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: unset;
}

.leaflet-popup {
  height: 333px;
  width: 343px;
  border-radius: unset;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(64, 85, 128, 0.1), 0 4px 8px 0 rgba(64, 85, 128, 0.2);
}

.leaflet-popup-content {
  width: 100% !important;
  margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  height: 30px;
  width: 30px;
  background-color: #131E33;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-tile-pane {
  filter: grayscale(85%);
}

.support {
  padding-top: 100px;
  padding-bottom: 164px;
}
.support .link {
  margin-top: 10px;
}
.support .link:after {
  opacity: 0.4;
}
.support .support-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  column-gap: 11px;
  row-gap: 11px;
}
.support .support-group-item {
  width: calc(25% - 9px);
  max-height: 170px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  cursor: pointer;
}
.support .support-group-item img {
  max-width: 100%;
}
.support .support-group-item:hover {
  position: relative;
  top: -20px;
  box-shadow: 0 5px 10px 0 rgba(64, 85, 128, 0.1);
}

@media (max-width: 575px) {
  .support {
    padding-top: 100px;
    padding-bottom: 164px;
  }
  .support .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .support .link {
    margin-top: 20px;
  }
  .support .support-group-item {
    width: calc(50% - 7px);
  }
}
.footer {
  padding: 50px 0 80px 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-top {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
}
.footer-top-item {
  width: 14.5%;
}
.footer-top-item .dropdown-menu {
  display: block;
  background-color: transparent;
  padding: 0;
  border: none;
  position: static;
}
.footer-top-item .dropdown-toggle:after {
  content: url("../assets/img/icons/ic-expand.svg");
  border: none;
  display: none;
}
.footer-top-item .dropdown-toggle.show:after {
  content: url("../assets/img/icons/ic-expand-two.svg");
}
.footer-top-item-title {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: -0.4px;
  line-height: 25px;
  pointer-events: none;
}
.footer-top-item-subtitle {
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 20px;
  margin-top: 30px;
}
.footer-top-item ul {
  margin-top: 30px;
}
.footer-top-item ul li {
  margin-top: 18px;
  max-height: 20px;
}
.footer-top-item ul li a {
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 20px;
}
.footer-top-item ul li:first-child {
  margin-top: 0;
}
.footer-top-item ul li:hover a {
  opacity: 1;
  font-weight: 500;
  position: relative;
}
.footer-top-item ul li:hover a:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.2;
}
.footer-top-item-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-top-item-wrap p {
  opacity: 0.4;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 18px;
}
.footer-top-item-wrap a {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 20px;
  display: inline-block;
  margin-top: 6px;
}
.footer-top .contact {
  width: 31.6%;
  padding-bottom: 0;
  text-align: right;
}
.footer-bottom {
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  padding-top: 44px;
}
.footer-bottom ul {
  display: flex;
  align-items: center;
}
.footer-bottom ul li {
  margin-right: 15px;
}
.footer-bottom ul li a {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 18px;
}
.footer-bottom-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.footer-bottom-data p, .footer-bottom-data a {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 18px;
}
.footer-bottom-data p:last-child, .footer-bottom-data a:last-child {
  opacity: 1;
}

@media (max-width: 983px) {
  .footer-top {
    justify-content: flex-start;
  }
  .footer-top-item {
    width: calc(33.33333% - 8px);
    text-align: center;
  }
  .footer-top-item .dropdown-menu {
    text-align: center;
  }
  .footer-top .contact {
    width: unset;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .footer-bottom ul {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }
  .footer-bottom-data {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}
@media (max-width: 575px) {
  .footer {
    padding: 40px 0;
  }
  .footer-top {
    padding-bottom: 40px;
    margin-top: 50px;
  }
  .footer-top-item {
    width: calc(50% - 10px);
  }
  .footer-top .contact {
    width: calc(50% - 10px);
  }
  .footer-bottom {
    padding-top: 40px;
  }
  .footer-bottom-data p:last-child {
    opacity: 0.7;
  }
}
@media (max-width: 480px) {
  .footer-top {
    justify-content: flex-start;
  }
  .footer-top-item {
    width: 100%;
    text-align: start;
  }
  .footer-top-item .dropdown-menu {
    text-align: start;
    display: none;
  }
  .footer-top-item .dropdown-menu.show {
    display: block;
    position: static !important;
    transform: unset !important;
    margin: 22px 0 0 0 !important;
    border-bottom: 1px solid rgba(227, 233, 239, 0.1);
    border-radius: unset;
    padding-bottom: 14px;
  }
  .footer-top-item .dropdown-toggle:after {
    display: block;
  }
  .footer-top-item-title {
    pointer-events: unset;
    display: flex;
    justify-content: space-between;
  }
  .footer-top .contact {
    text-align: start;
    margin-top: 21px;
  }
}
.cookie {
  background-color: rgba(14, 22, 38, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  padding: 40px;
}
.cookie-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cookie-content-data {
  display: flex;
  align-items: center;
}
.cookie-content-data svg {
  margin-right: 20px;
}
.cookie-content-data-wrap {
  display: flex;
  flex-direction: column;
}
.cookie-content-data-wrap-title {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
  margin-bottom: 5px;
}
.cookie-content-btns {
  display: flex;
  column-gap: 10px;
}
.cookie-content-btns button {
  padding: 15px 25px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.4px;
  line-height: 26px;
  background-color: #60B358;
  border: none;
}
.cookie-content-btns button:hover {
  background-color: #FFFFFF;
  color: #234187;
}
.cookie-content-btns button:first-child {
  background-color: transparent;
}
.cookie-content-btns button:first-child:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  opacity: 0.7;
}

@media (max-width: 700px) {
  .cookie-content {
    flex-direction: column;
  }
  .cookie-content-btns {
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  .cookie-content-data {
    flex-direction: column;
    align-items: flex-start;
  }
  .cookie-content-data svg {
    margin-bottom: 20px;
  }
}
.page-title {
  background-color: #264692;
  padding: 60px 0 84px 0;
}
.page-title-date {
  color: #60B358;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
  margin-bottom: 20px;
}
.page-title-title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.7px;
  line-height: 46px;
  max-width: 970px;
}
.page-title-descr {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
  margin-top: 14px;
}

@media (max-width: 575px) {
  .page-title {
    padding: 30px 0 44px 0;
  }
  .page-title-title {
    font-size: 26px;
    letter-spacing: -0.51px;
    line-height: 46px;
  }
}
.cards {
  padding-bottom: 160px;
}
.cards .tabs {
  display: flex;
  margin-bottom: 50px;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.cards .tabs-item {
  color: #264692;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
  padding: 9px 16px;
  border: 1px solid #264692;
  background-color: transparent;
}
.cards .tabs-item:hover {
  background-color: rgba(38, 70, 146, 0.1);
}
.cards .tabs .active {
  color: #FFFFFF;
  background-color: #60B358;
  border-color: #60B358;
}
.cards-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
}
.cards-content-item {
  width: calc(25% - 23px);
}
.cards-content-item a {
  display: inline-flex;
}
.cards-content-item-img {
  width: 100%;
}
.cards-content-item-img img {
  max-width: 100%;
}
.cards-content-item .title-s:hover {
  text-decoration: underline;
  color: #131E33;
}
.cards-content-item-descr {
  color: #666F80;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 20px;
  margin-top: 10px;
}
.cards-content-item .link {
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  align-items: center;
  margin-top: 20px;
  background-color: transparent;
  border: none;
}
.cards-content-item .link:after {
  content: none;
}
.cards-content-item .link svg {
  margin-left: 6px;
  transition: all 0.3s;
}
.cards-content-item .link:hover svg circle {
  fill: #264692;
}
.cards-content-item .link:hover svg polyline {
  stroke: #264692;
}
.cards-content-item-collapse-content {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.cards-content-item-collapse-content-wrap {
  position: relative;
  left: 0;
  transition: all 0.3s;
  max-height: 0;
}
.cards-content-item-collapse-content ul li {
  color: #131E33;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 20px;
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
}
.cards-content-item-collapse-content ul li:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 1px;
  width: 10px;
  background-color: #73BC6C;
}
.cards-content-item .active .link {
  color: #264692;
}
.cards-content-item .active .link svg {
  transform: rotate(180deg);
}
.cards-content-item .active .link svg circle {
  fill: #264692;
}
.cards-content-item .active .link svg polyline {
  stroke: #264692;
}
.cards-content-item .active .cards-content-item-collapse-content-wrap {
  max-height: 100%;
}

.cards-l .cards-content-item {
  width: calc(33.3333% - 20px);
}
.cards-l .cards-content-item .title-s {
  margin-top: 20px;
}
.cards-l .cards-content-item-img {
  width: 100%;
}
.cards-l .cards-content-item-img img {
  max-width: 100%;
}
.cards-l .cards-content-item .link {
  padding-bottom: 9px;
}
.cards-l .cards-content-item .link:after {
  content: "";
  opacity: 0.4;
}

@media (max-width: 700px) {
  .cards {
    padding: 30px 0 124px 0;
  }
  .cards .tabs {
    width: 100%;
  }
  .cards .tabs-item {
    width: calc(50% - 5px);
  }
  .cards-content-item {
    width: calc(33.3333% - 20px);
  }

  .cards-l .cards-content-item {
    width: calc(50% - 15px);
  }
}
@media (max-width: 600px) {
  .cards-content-item {
    width: calc(50% - 15px);
  }
}
@media (max-width: 475px) {
  .cards-l .tabs-item, .cards .tabs-item {
    width: 100%;
  }
  .cards-l .cards-content-item, .cards .cards-content-item {
    width: 100%;
  }
}
.details {
  padding-bottom: 204px;
}
.details img {
  width: 100%;
}
.details-wrap {
  margin-top: 40px;
}
.details-wrap .subtitle {
  color: #131E33;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-decoration: underline;
  text-transform: uppercase;
}
.details-wrap ol, .details-wrap ul {
  padding-left: 20px;
}
.details-wrap ol li, .details-wrap ul li {
  counter-increment: item;
  padding-left: 10px;
  margin-top: 14px;
}
.details-wrap ol li:first-child, .details-wrap ul li:first-child {
  counter-reset: item;
}
.details-wrap ol li::marker, .details-wrap ul li::marker {
  color: #264692;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 28px;
}
.details-wrap ol ol, .details-wrap ul ol {
  padding-left: 0;
}
.details-wrap ol ol li, .details-wrap ul ol li {
  display: block;
}
.details-wrap ol ol li:before, .details-wrap ul ol li:before {
  content: counters(item, ".") ".";
  padding-right: 15px;
  color: #264692;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 28px;
}
.details-wrap ul li {
  list-style-type: disc;
}
.details-wrap ul ul li {
  list-style-type: circle;
}
.details-wrap:first-child {
  margin-top: 0;
}
.details-halves {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #E3E9EF;
  border-bottom: 1px solid #E3E9EF;
  padding: 0 0 50px 0;
}
.details-halves-item {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-halves-item img {
  width: calc(50% - 30px);
}
.details-halves-item-content {
  width: calc(50% - 30px);
}
.details-halves-item-content a {
  margin-top: 20px;
  text-decoration: underline;
  padding: 0;
}
.details-halves-item-content a:after {
  content: none;
}
.details-gallery {
  margin-top: 58px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 11px;
  row-gap: 11px;
}
.details-gallery img {
  width: calc(33.3333% - 8px);
}

@media (max-width: 575px) {
  .details {
    padding: 30px 0 124px 0;
  }
  .details img {
    width: 100%;
  }
  .details-wrap {
    margin-top: 30px;
  }
  .details-halves-item {
    flex-direction: column;
  }
  .details-halves-item img {
    width: 100%;
  }
  .details-halves-item-content {
    margin-top: 20px;
    width: 100%;
    order: 2;
  }
}
.tab {
  display: flex;
  justify-content: space-between;
}
.tab-content {
  width: 68.4%;
}
.tab .nav {
  width: 23%;
  display: flex;
  flex-direction: column;
}
.tab .nav button {
  width: 100%;
  padding: 19px 25px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 22px;
  background-color: #1F3771;
  border: none;
  border-top: 1px solid #284882;
  text-align: start;
}
.tab .nav button:hover {
  background-color: #334A80;
}
.tab .nav .active {
  background-color: #60B358;
  border-color: #60B358;
}

@media (max-width: 870px) {
  .tab {
    flex-direction: column-reverse;
  }
  .tab-content {
    width: 100%;
    margin-top: 50px;
  }
  .tab .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .tab .nav button {
    width: 33.333%;
    border: 1px solid #666F80;
  }
}
@media (max-width: 624px) {
  .tab .nav button {
    width: 50%;
  }
}
@media (max-width: 475px) {
  .tab .nav button {
    width: 100%;
  }
}
.contact {
  padding-bottom: 204px;
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
.contact-person {
  width: 57.26%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
}
.contact-person-item {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
}
.contact-person-item-img {
  height: 70px;
  width: 70px;
  background-color: #E8E8EF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-person-item .title-s {
  margin-top: 30px;
  line-height: 28px;
}
.contact-person-item .descr-sm {
  margin-top: 6px;
  line-height: 22px;
}
.contact-person-item-num, .contact-person-item-mail {
  color: #60B358;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 22px;
  display: inline-flex;
  align-items: center;
}
.contact-person-item-num svg, .contact-person-item-mail svg {
  margin-right: 10px;
}
.contact-person-item-num:hover, .contact-person-item-mail:hover {
  color: #264692;
}
.contact-person-item-num:hover svg #Other-hovers, .contact-person-item-mail:hover svg #Other-hovers {
  fill: #264692;
}
.contact-person-item-num {
  margin-top: 20px;
}
.contact-person-item-mail {
  margin-top: 8px;
}
.contact-person-item .not-indicated {
  color: #939AA6;
  pointer-events: none;
}
.contact-person-item .not-indicated svg #Other-hovers {
  fill: #939AA6;
}
.contact-data {
  width: 35.9%;
}
.contact-data-wrap {
  width: 100%;
  padding: 50px;
  background-color: #1F3771;
}
.contact-data-wrap-title {
  color: #FFFFFF;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 40px;
}
.contact-data-wrap-item {
  margin-top: 20px;
}
.contact-data-wrap-item-title {
  opacity: 0.5;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.contact-data-wrap-item-info {
  margin-top: 4px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 26px;
}
.contact-data-wrap:first-child {
  background-color: #60B358;
}

@media (max-width: 968px) {
  .contact {
    padding-bottom: 124px;
  }
  .contact .container {
    display: flex;
    flex-direction: column;
  }
  .contact-person {
    width: 100%;
  }
  .contact-data {
    margin-top: 50px;
    width: 100%;
  }
}
@media (max-width: 968px) {
  .contact-person {
    flex-direction: column;
  }
  .contact-person-item {
    width: 100%;
  }
}
.pagination-nav {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.pagination-nav .pagination .page-link {
  padding: 0;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131E33;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  border: none;
}
.pagination-nav .pagination .active .page-link {
  color: #264692;
}
.pagination-nav .pagination .arrow {
  margin: 0 30px;
}
.pagination-nav .pagination .disabled {
  cursor: no-drop;
}
.pagination-nav .pagination .disabled a #News {
  fill: #7A8299;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 50%;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.2s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.gallery {
  width: 100%;
}
.gallery-lightbox {
  width: 100%;
  margin-top: 34px;
}
.gallery-lightbox-img {
  width: 100%;
  max-height: 533px;
}
.gallery-lightbox-thumb {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.gallery-lightbox-thumb img {
  width: calc(25% - 8px);
}
.gallery-modal {
  opacity: 0;
  width: 1px;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-modal .swiper {
  width: 80%;
  background-color: transparent;
}
.gallery-modal .swiper-wrapper {
  width: 100%;
  max-width: 700px;
}
.gallery-modal .swiper-slide {
  width: 100%;
}
.gallery-modal .swiper-slide img {
  max-width: 100%;
  object-fit: cover;
}
.gallery .modal-show {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.slider .foto {
  width: 500px;
  height: 300px;
}
.slider-thumb img {
  border: 1px solid red;
  cursor: pointer;
}

.swiper-lightbox {
  opacity: 0;
  width: 1px;
  height: 0;
}
.swiper-lightbox .swiper-slide {
  width: 100%;
}
.swiper-lightbox .swiper-slide img {
  width: 100%;
}

.show-light-box {
  opacity: 1;
  width: 600px;
  height: 300px;
}

/*# sourceMappingURL=main.css.map */
