.map {
  .title-l {
    margin-bottom: 40px;
  }

  &-wrap {
    margin-bottom: 124px;
    height: 628px;
    //width: 1170px;
    width: 100%;
    background-color: #D4DDE5;
    position: relative;

    #map {
      width: 100%;
      height: 100%;
      position: relative;

      .leaflet-bar {
        position: absolute;
        right: 0 !important;
        bottom: 0;
      }

      .leaflet-left {
        right: 30px !important;
      }
      .leaflet-top {
        bottom: 30px;
      }

      .leaflet-popup-content-wrapper {
        border-radius: unset;
        padding: 0;
      }
    }

  }

  &-modal {
    z-index: 1000000;
    &-content {
      width: 100%;
      position: relative;
      img {
        width: 100%;
      }

      &-data {
        padding: 18px 24px 24px 24px;

        .title-s {
          line-height: 26px;
          margin-bottom: 4px;
        }

        .descr-s {
          font-weight: 500;
          line-height: 20px;
          margin: 0;
          margin-top: 4px;
        }

        &-worktime {
          margin-top: 10px;

          .time {
            margin: 0;
            margin-top: 4px;
            color: #0E1626;
            font-size: 14px;
            letter-spacing: -0.4px;
            line-height: 20px;
            span {
              font-weight: bold;
            }

          }
        }
      }
    }
  }




}

.leaflet-touch .leaflet-bar {
  border: none;
  a {
    height: 30px;
    width: 30px;
    background-color: #131E33;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: unset !important;
    margin-bottom: 4px;

    span {
      display: inline-flex;
      color: #FFFFFF;
      margin-bottom: 5px;
    }
  }

}

.leaflet-control-attribution {
  display: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: unset;
}

.leaflet-popup {
  height: 333px;
  width: 343px;
  border-radius: unset;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(64,85,128,0.1), 0 4px 8px 0 rgba(64,85,128,0.2);
}

.leaflet-popup-content {
  width: 100% !important;
  margin: 0;
}


.leaflet-container a.leaflet-popup-close-button{
  height: 30px;
  width: 30px;
  background-color: #131E33;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: none;
}

.leaflet-popup-tip-container {
  display: none;
}


//.leaflet-tile-pane {
//  //filter: grayscale(85%);
//  //height: 100%;
//  //width: 100%;
//  position: relative;
//  //pointer-events: none;
//  //z-index: 1000;

//
//  &:after {
//    content: "";
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    position: absolute;
//    background-color: green;
//    mix-blend-mode: color;
//    z-index: 1000;
//  }
//
  //&:after {
  //  content: "";
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  position: absolute;
  //  background-color: #E3E9EF;
  //  mix-blend-mode: color;
  //  z-index: 1000;
  //}

  //&:before {
  //  content: "";
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  position: absolute;
  //  background-color: #E3E9EF;
  //  mix-blend-mode: soft-light;
  //  z-index: 1000;
  //}
//
//}

//.leaflet-tile-pane {
//  width: 100%;
//  height: 100%;
//  background-color: black;
//  top: 0;
//  left: 0;
//
//}




.ov {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #E3E9EF;
}

.ove1 {
  mix-blend-mode: color;
}

.ove2 {
  mix-blend-mode: soft-light;
}



.leaflet-tile-pane {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  background-color: #E3E9EF;

}







@media (max-width: 575px) {
  .map {

    &-wrap {
      height: 350px;
    }
  }
}
